@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Kalam&display=swap');

div {
  font-family: 'Maven Pro' !important;
}


textarea:focus, input:focus{
    outline: none;
}

input[type=text], input {
  position: relative;
}

a {
  text-decoration: none !important;
  color: #333333 !important;
}

.edit-table:hover {
	cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EBEBEB;
  width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C9C9C9;
  width: 0px;
}

.log-row ::-webkit-scrollbar{
  width: 4px;
  height: 4 px;
}

.log-row ::-webkit-scrollbar-track {
  background: #EBEBEB;
  width: 4px;
}

/* Handle */
.log-row ::-webkit-scrollbar-thumb {
  background: #C9C9C9;
  width: 4px;
}


.pointerOnHover:hover {
	cursor: pointer;
}


.blue-gradient {
  background: linear-gradient(258.54deg, #5ec3eb 0%, #d023eb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-tabs__tab {
  padding: 5px 10px !important;
  color: #111111 !important;
  font-weight: normal !important;
  margin-right: 20px;
}

.react-tabs__tab--selected {
  border: 0px !important;
  outline: none !important;
  border-bottom: solid 2px #111111 !important;
  color: #111111 !important;
  background-color: rgba(0,0,0,0.0) !important;
}