@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Kalam&display=swap');

div {
    font-family: 'Maven Pro' !important;
}

textarea:focus,
input:focus {
    outline: none;
}

input[type='text'],
input {
    position: relative;
}

a {
    text-decoration: none !important;
    color: #333333 !important;
}

.edit-table:hover {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ebebeb;
    width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    width: 0px;
}

.log-row ::-webkit-scrollbar {
    width: 4px;
    height: 4 px;
}

.log-row ::-webkit-scrollbar-track {
    background: #ebebeb;
    width: 4px;
}

/* Handle */
.log-row ::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    width: 4px;
}

.pointerOnHover:hover {
    cursor: pointer;
}

.blue-gradient {
    background: linear-gradient(258.54deg, #5ec3eb 0%, #d023eb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.react-tabs__tab {
    padding: 5px 10px !important;
    color: #111111 !important;
    font-weight: normal !important;
    margin-right: 20px;
}

.react-tabs__tab--selected {
    border: 0px !important;
    outline: none !important;
    border-bottom: solid 2px #111111 !important;
    color: #111111 !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.btn-group-toggle .btn-primary {
    background-color: #ffffff !important;
    color: #333333 !important;
    border: none !important;
    font-size: 14px;
    border-radius: 0px !important;
    margin-right: 10px !important;
}

.btn-group-toggle .active {
    border-bottom: solid 1px #8884d8 !important;
    color: #111111 !important;
    font-weight: bold !important;
    outline: none !important;
    box-shadow: none !important;
}

.dropdown .dropdown-toggle {
    background: none !important;
    color: #111111 !important;
    border: none !important;
    outline: none !important;
    padding: 0px !important;
    font-size: 18px;
}

.dropdown .dropdown-toggle:focus,
.dropdown .dropdown-toggle:active {
    outline: none !important;
}

.chart-header {
    margin-top: 30px;
    color: #8884d8;
    font-weight: bold;
    background: rgba(136, 132, 216, 0.1);
    border-radius: 2px;
    display: inline-block;
    padding: 6px 15px;
    font-size: 14px;
}