@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Kalam&display=swap');

div {
  font-family: 'Maven Pro' !important;
}


textarea:focus, input:focus{
    outline: none;
}

input[type=text], input {
  position: relative;
}

a {
  text-decoration: none !important;
  color: #333333 !important;
}

.edit-table:hover {
	cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EBEBEB;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C9C9C9;
}